body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #111113;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

.heading {
  color: #ffffff;
  margin-bottom: 0;
}

.hacked {
  color: #DAFF01;
}

.subheading1 {
  color: #DAFF01;
  margin-top: 10px;
  margin-bottom: 0;
}

.subheading2 {
  color: #ffffff;
  margin-top: 30px;
}

#wallet {
  border-radius: 12px;
  border: none;
  max-width: 400px;
  width: 90%;
  margin-bottom: 15px;
}

.check {
  border-radius: 12px;
  border: none;
  background-color: #DAFF01;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: #000000;
  font-weight: bold;
  max-width: 150px;
  width: 90%;
}

.check:hover {
  background-color: #c9db00;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}

.result-invalid,
.result-hacked,
.result-safe,
.result-error,
.result-checking {
  color: #ffffff;
}

.logo {
  width: 100px;
  max-width: 80%;
  display: block;
  margin: 0 auto 20px;
}

.disclaimer {
  margin-top: 50px;
  font-size: 12px;
  color: gray;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.icon-box {
  background-color: #1E1E1E;
  padding: 15px 30px;
  margin: 40px auto 0;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 3px 0 #000;
}

.icon-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 0;
}

.icon-nav a {
  display: inline-block;
}

.nav-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.icon-nav a:hover .nav-icon {
  filter: brightness(0.8);
}

.how-it-works {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 5px 20px 20px 20px;
  border-radius: 12px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 3px 0 #000;
  text-align: left;
}

.how-it-works h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #daff01;
  margin-bottom: 25px;
  text-shadow: 1px 1px #FFD600;
}

.how-it-works ol {
  padding-left: 20px;
  margin-bottom: 10px;
}

.how-it-works li {
  margin: 10px 0;
  line-height: 1.6;
}

.how-it-works em {
  display: block;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #777;
}

.donotjoin {
  color: #ffffff;
  margin-top: 80px;
}